<?xml version="1.0"?>
<config>
    <modules>
        <Ikonoshirt_SecureSession>
            <version>0.1.0</version>
        </Ikonoshirt_SecureSession>
    </modules>
    <global>
        <helpers>
            <ikonoshirt_securesession>
                <class>Ikonoshirt_SecureSession_Helper</class>
            </ikonoshirt_securesession>
        </helpers>
        <models>
            <ikonoshirt_securesession>
                <class>Ikonoshirt_SecureSession_Model</class>
            </ikonoshirt_securesession>
        </models>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <addCustomOptionWhileEditing>
                        <type>singleton</type>
                        <class>ikonoshirt_securesession/observer</class>
                        <method>controller_action_predispatch</method>
                    </addCustomOptionWhileEditing>
                </observers>
            </controller_action_predispatch>
            <customer_customer_authenticated>
                <observers>
                    <replace_md5_customer_passwords>
                        <type>singleton</type>
                        <class>ikonoshirt_securesession/observer</class>
                        <method>customer_customer_authenticated</method>
                    </replace_md5_customer_passwords>
                </observers>
            </customer_customer_authenticated>
        </events>
    </frontend>
    <default>
        <ikonoshirt_securesession>
            <securesession>
                <renew_session_per_request>0</renew_session_per_request>
                <renew_session_id_after_login>0</renew_session_id_after_login>
                <logout_user_if_session_id_in_param>1</logout_user_if_session_id_in_param>
            </securesession>
        </ikonoshirt_securesession>
    </default>
</config>
